<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaodeamap.test.demo">

<!--    &lt;!&ndash;允许程序打开网络套接字&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    &lt;!&ndash;允许程序设置内置sd卡的写权限&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    &lt;!&ndash;允许程序获取网络状态&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    &lt;!&ndash;允许程序访问WiFi网络信息&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
<!--    &lt;!&ndash;允许程序读写手机状态和身份&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    &lt;!&ndash;允许程序访问CellID或WiFi热点来获取粗略的位置&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--声明后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
         android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".show.ShowActivity" android:screenOrientation="portrait"/>
        <activity android:name=".show.LocationStyleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".interaction.WeightActivity" android:screenOrientation="portrait"/>
        <activity android:name=".interaction.GestureActivity" android:screenOrientation="portrait"/>
        <activity android:name=".interaction.ScreenMapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".interaction.MethodActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.DrawMarkPointActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.DrawLineActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.DrawGraphActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.DrawHeatmapTileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.SmoothMoveActivity" android:screenOrientation="portrait"/>
        <activity android:name=".draw.MultiPointOverlayActivity" android:screenOrientation="portrait"/>
        <activity android:name=".poi.PoiKeyWordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".poi.GeocodeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".poi.DistrictWithBoundaryActivity" android:screenOrientation="portrait"/>
        <activity android:name=".fence.RoundFenceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".fence.GeoFenceRoundNewActivity" android:screenOrientation="portrait"/>


        <receiver android:name=".fence.FenceBroadcastReceiver">

        </receiver>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="8dd7f3d2ac64b134068c166cb368c9d8">
         </meta-data>
    </application>

</manifest>